body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(122, 160, 200);
    position: relative;
}

h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    text-align: center;
    width: 100%;
}