table {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

#premier {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

a:hover {
    font-size: larger;
}

/* :checked */
/* sert à cibler les cases à coché cochées */

/* :visited */
/* sert à cibler les liens qui ont déjà été visités */

/* :active { */
/* sert à cibler les élément ayants le focus clic utilisateur */

/* :focus */
/* sert à cibler les élément ayants le focus utilisateur */

h1, h2, h3, h4 {
    text-align: center;
}

li {
    font-family: Arial;
}

th {
    color: red;
}

html {
    background: #e2e2e2;
}

img {
    border-bottom: green 4px solid;
    width: 400px;
}

ol {
    list-style: none;
}