* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    background-color: #2a2a2a;
}


header {
    background-color: #9e3c3c;
    text-align: right;
    padding: 20px 0;
    height: 70px;
}

#blue {
    background-color: #3e5281;
}

header a {
    text-decoration: none;
    font-size: 1em;
    margin: 20px;
}

#first {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

#first p {
    font-style: italic;
    color: #9e3c3c;
    font-size: 1.5em;
}

#blue, #last {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

#blue div {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 50px auto;
    width: 100%;
}

#blue h2 {
    border-bottom: 1px solid #fff;
    display: block;
    width: fit-content;
    padding: 5px;
    font-size: 40px;
}

article {
    width: calc(30% - 10px);
}

article img {
    width: 100%;
}

article h3 {
    background-color: #2a2a2a;
    margin-top: -10px;
    text-align: center;
    padding: 20px;
    font-weight: 100;
    font-size: 25px;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}

#blue button {
    background-color: #363636;
    font-size: 30px;
    padding: 15px 30px;
    border: none;
}

#blue button span {
    font-weight: bold;
}

#last img {
    width: 30px;
    filter: grayscale(1) contrast(0) brightness(2);
}

#last h2 {
    font-size: 70px;
}

#last p {
    font-style: italic;
    font-size: 24px;
    margin: 10px;
}

#icon\@ {
    font-weight: bold;
    font-size: 25px;
}

#icontel {
    font-size: 25px;
    filter: grayscale(1) contrast(0) brightness(2);
}

#last div {
    display: flex;
    gap: 30px;
    margin: 40px;
}

#last a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#last img, #icontel, #icon\@ {
    margin-right: 5px;
}

#last {
    border-bottom: 4px solid #9e3c3c;
}

footer {
    max-width: 1400px;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #blue div {
        gap: 10px;
    }

    h1, header, h2 {
        text-align: center;
    }

    article {
        width: calc(50% - 10px);
    }

    article h3 {
        height: 120px;
    }

    #last div {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    article {
        width: calc(100%);
        margin: 10px 0;
    }
}