button {
    color: #925518;
    border: 1px solid #925518;
    background: none;
    border-radius: 12px;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    font-size: 10px;
    padding: 17px 26px;
}

button:hover {
    background-color: #925518;
    color: #fff;
}

img {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p {
    text-align: center;
    width: 300px;
    animation: Yrotation 5s infinite linear;
}

@keyframes Yrotation {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

span {
    height: 20px;
    width: 20px;
    background-color: red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    animation: tour 10s linear infinite;
}

@keyframes tour {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100vw - 20px);
    }

    50% {
        top: calc(100vh - 20px);
        left: calc(100vw - 20px);
    }

    75% {
        top: calc(100vh - 20px);
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}