* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    margin: 0;
    background: #193949;
}

img {
    width: 100%;
}

button {
    background: none;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

h1 {
    margin: 0;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 100;
    border-top: 4px #2b8485 solid;
}

header, footer, #inner {
    max-width: 1000px;
    margin: auto;
}

article span {
    color: #aeaeae;
    margin-bottom: 20px;
    display: block;
    font-size: smaller;
}

article img {
    border-radius: 5px;
}

article h2 {
    color: #2b8485;
    font-weight: 100;
}

article p {
    color: #646464;
}

footer p {
    margin-bottom: 0;
}

#top, footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#content {
    background: #fff;
}

#heading {
    text-align: center;
    padding: 50px 0;
}

#inner {
    padding: 50px 0;
    display: flex;
    gap: 30px;
}

#heading h2 {
    color: #2b8485;
    font-weight: 100;
    font-size: 30px;
    margin: 0;
}

#heading p {
    font-size: 22px;
    margin: 10px;
    line-height: 42px;
}

#top div {
    text-align: right;
}

#top span {
    margin-bottom: 20px;
    color: #2b8485;
    display: block;
}

#top a {
    text-decoration: none;
    font-size: smaller;
    margin: 0 5px;
}